// paper & background
$paper: #ffffff;

// primary
$primaryLight: #c4ff78;
$primaryMain: #78BC1C;
$primaryDark: #355e00;
$primary200: #84d815;
$primary800: #518a06;

// secondary
$secondaryLight: #42d872;
$secondaryMain: #1F5731;
$secondaryDark: #07180c;
$secondary200: #136b2f;
$secondary800: #11351d;

// ternary
$ternaryLight: #f6f6f2;
$ternaryMain: #f8f84f;
$ternaryDark: #d8d800;

// success Colors
$successLight: #b9f6ca;
$success200: #69f0ae;
$successMain: #00e676;
$successDark: #00c853;

// error
$errorLight: #ef9a9a;
$errorMain: #f44336;
$errorDark: #c62828;
$errorMedium: #f00;

// warning
$warningLight: #fff8e1;
$warningMain: #ffe57f;
$warningDark: #ffc107;

// grey
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey500: #9e9e9e;
$grey600: #757575;
$grey700: #616161;
$grey900: #212121;

// black
$black900: #000000;
$blackMain: #010101;

// ==============================|| JAVASCRIPT ||============================== //

:export {
    // paper & background
    paper: $paper;

    // primary
    primaryLight: $primaryLight;
    primary200: $primary200;
    primaryMain: $primaryMain;
    primaryDark: $primaryDark;
    primary800: $primary800;

    // secondary
    secondaryLight: $secondaryLight;
    secondary200: $secondary200;
    secondaryMain: $secondaryMain;
    secondaryDark: $secondaryDark;
    secondary800: $secondary800;

    // success
    successLight: $successLight;
    success200: $success200;
    successMain: $successMain;
    successDark: $successDark;

    // error
    errorLight: $errorLight;
    errorMain: $errorMain;
    errorDark: $errorDark;
    errorMedium: $errorMedium;

    // ternary
    ternaryLight: $ternaryLight;
    ternaryMain: $ternaryMain;
    ternaryDark: $ternaryDark;

    // warning
    warningLight: $warningLight;
    warningMain: $warningMain;
    warningDark: $warningDark;

    // grey
    grey50: $grey50;
    grey100: $grey100;
    grey200: $grey200;
    grey300: $grey300;
    grey500: $grey500;
    grey600: $grey600;
    grey700: $grey700;
    grey900: $grey900;

    // black
    black900: $black900;
    blackMain: $blackMain;
}
